
 {
    padding:20px; 
}

	
header {
    background-color:purple;
    grid-area:header;
    }

nav {
    background-color:green;
    grid-area:nav;
    }

main {
    background-color:blue;
    grid-area:main;
    }
    
section1 {
    background-color:orange;
    grid-area:section1;
    }

section2 {
     background-color:grey;
     grid-area:section2;
}
footer {
    background-color:red;
    grid-area:footer;
    }

/*------------------------------Mobile firstlayout-------------------------------*/
.container1 { /*for index.html*/
  display: grid;
  grid-template-columns:1fr; /*only 1 column needed on mobile*/
  grid-template-areas:
    "header"
    "nav"
    "main"
    "section1"
    "section2"
    "footer";
    }
.nestedgrid {
	grid-template-areas:
		"section1"
		"section2";
}

/*----------------------------------Tablet layout-----------------------------------*/

.container1 { /*for index.html*/
  display: grid;
  grid-template-columns:35% auto;
  grid-template-areas:
   "header header"
   "nav section1"
   "nav section2"
   "main main"
   "footer footer";
}
.nestedgrid {
	grid-template-areas:
		"section1"
		"section2";
}


/*----------------------------------Desktop layout-----------------------------------*/
.container1 { /*for index.html*/
  display: grid;
  grid-template-columns:25% auto 30%;
  grid-template-areas:
   "header header header"
   "nav main section1"
   "nav main section2"
   "footer footer footer";
}
.nestedgrid {
	grid-template-areas:
		"section1 section2";
		
	}
